<a href="https://colab.research.google.com/github/GalangSuryaputra/Pedjoeang-Data-Sains/blob/main/1900015062_Galang_Suryaputra_Lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lambda
Fungsi lambda adalah fungsi anonim one line yang didefinisikan tanpa nama. Fungsi lambda dapat mengambil sejumlah arguments, tetapi hanya dapat memiliki satu expression. sementara fungsi normal didefinisikan menggunakan kata kunci lambda.

Fungsi lambda digunakan ketika fungsi sederhana hanya digunakan sekali atau untuk waktu yang singkat dalam kode kita. penggunaannya yang paling umum adalah sebagai argumen untuk fungsi tingkat tinggi (fungsi yang menggunakan fugnsi lain sebagai argumen)

In [ ]:
# Misalkan kita punya fungsi penjumlahan kuadrat seperti ini:

def penjumlahan_kuadrat(x,y):
  return x**2 + y**2

# dengan lambda kita tidak perlu menggunakan def dan return, bahkan kita juga tidak perlu menuliskan namanya

lambda x,y : x**2 + y**2

## Menggunakan Lambda Expression
Lambda digunakan untuk membuat fungsi dalam satu baris ekspresi. format untuk membuat fungsi lambda :
```
lambda args : expression
```
* lambda : kata kunci untuk membuat fungsi lambda
* args : Argumen atau parameter
* expression : isi fungsi

Lambda bisa memiliki lebih dari satu argumen atau parameter, tapi hanya bisa memiliki satu ekspresi atau isi

In [ ]:
greeting = lambda name : print(f"Hello, {name}")

#karena fungsi lambda tidak memiliki nama, jadi kita butuh variabel untuk menyimpannya
#nanti saat kita mau panggil, kita tinggal tuliskan saja nama variabelnya, contoh :

greeting('Rizal')
greeting('Dian')
greeting('Ayu')

Hello, Rizal
Hello, Dian
Hello, Ayu

In [ ]:
#Contoh lain
#Fungsi lambda untuk menambahkan angka 10 kepada argument input

f = lambda x : x+10
val1 = f(5)
val2 = f(100)
print(val1,val2)

15 110

In [ ]:
# Fungsi lambda untuk mengalikan dua argumen input dan menampilkan hasilnya
f = lambda x,y : x*y
val3 = f(2,10)
val4 = f(7,5)
print(val3,val4)

20 35

##Anonymous Function
karena lambda adalah anonymous function, ia akan bebas menggunakan nama apa saja. Dengan kata lain, fungsi lambda bisa disimpan di variabel mana pun. ini tentunya tidak bisa dilakukan oleh fungsi yang dibuat dengan def

In [ ]:
def say_hello(nama):
  print(f"Hello {nama}, apa kabar?")

ucapin = say_hello(nama)

# ini akan terjadi error karena fungsi ini (def) bukanlah fungsi anonymous yang boleh diubah ubah namanya

NameError: ignored

In [ ]:
greeting = lambda name : (f"Hello, {name}")
sapa = greeting
greeting('Andi')

'Hello, Andi'

In [ ]:
sapa("Neli")

# hasilnya tidak error walaupun fungsinya kita simpan lagi dalam variabel karena fungsi lambda ini merupakan fungsi anonymous

'Hello, Neli'

## Eksekusi Lambda Secara langsung
Eksekusi Lambda secara langsung kelebihan fungsi lambda dibandingkan def adalah bisa kita eksekusi langsung

In [ ]:
(lambda x,y : x**2 + y**2)(4,6)

# tanda kurung lambda adalah fungsi yang akan dieksekusi langsung
# tanda kurung berikutnya adalah argument, dimana 4 dan 6 adalah argument untuk x dan y yang akan dimasukan ke fungsi lambda

52

In [ ]:
hasil = (lambda x,y : x**2 + y**2)(4,6)

##Mengapa harus pakai Lambda
kita memang tidak harus selalu menggunakan lambda, tapi dalam kasus tertentu lambda lebih baik dibandingkan fungsi biasa. lambda biasanya dibutuhkan saat kita ingin membuat fungsi dalam suatu baris.

biasanya saat menggunakan fungsi fungsi seperti filter(), map(), dan reduce() kita akan membutuhkan lambda. karena fungsi fungsi tersebut membutuhkan parameter fungsi.

In [ ]:
bilangan = [10,2,8,7,5,4,3,11,0,1]
filtered_result = map(lambda x : x*x, bilangan)
print(list(filtered_result))

''' pada fungsi map() kita memberikan parameter dengan fungsi lambda. karena
lambda bisa disimpan ke dalam variabel, otomatis dia akan bisa juga menjadi parameter'''

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

In [ ]:
# menentukan bilangan genap
genap = lambda x : x%2 == 0
list(filter(genap, range(11)))

[0, 2, 4, 6, 8, 10]

## Contoh Pemakaian Fungsi Lambda
1. Melakukan filter tertentu pada suatu limit

In [ ]:
list_nama_provinsi = ['Jawa Barat','Jawa Timur','Jawa Tengah','DKI Jakarta','Banten']

#Mengambil nama provinsi dengan kata 'Jawa'
pilih_jawa = lambda k: 'jawa' in k.lower()

list(filter(pilih_jawa, list_nama_provinsi))

['Jawa Barat', 'Jawa Timur', 'Jawa Tengah']

2. Mendefinisikan kolom baru dengan fungsi tertentu pada DataFrame

In [ ]:
# Impor Library Pandas
import pandas as pd
# Membuat list yang memuat data
hasil_ekspor= [['Rohan',455],['Elvan',250],['Irpan',495],
['Soni',400],['Radhika',350],['Joni',450]]
# Membuat Pandas DataFrame
df = pd.DataFrame(hasil_ekspor,columns=['Eksportir','Total_Ekspor_TON'])
# Target Ekspor adalah 500 Ton
# Persentase hasil ekspor diperoleh dari Total_Ekspor_TON dibagi target X 100%
# diterapkan pada dataframe dengan bantuan method df.assign()
df = df.assign(Persentase = lambda x: (x['Total_Ekspor_TON'] /500 * 100))
# Menampilkan DataFRame
df

  Eksportir  Total_Ekspor_TON  Persentase
0     Rohan               455        91.0
1     Elvan               250        50.0
2     Irpan               495        99.0
3      Soni               400        80.0
4   Radhika               350        70.0
5      Joni               450        90.0

##Latihan
1. Buatlah fungsi lambda untuk melakukan filter pada data range(n) untuk data-data yang berupa bilangan
kelipatan 3!

In [ ]:
genap = lambda x : x%3 == 0
list(filter(genap, range(11)))

[0, 3, 6, 9]

2. Buatlah fungsi lambda untuk memilih kata-kata dengan jumlah karakter lebih dari sama dengan 6 pada list
inputnya.

In [ ]:
list_input = ['saya', 'adalah', 'seorang', 'kapiten']

#Memilih 
pilih_input = lambda x : x>x[:5]

list(filter(pilih_input, list_input))

['adalah', 'seorang', 'kapiten']